.vs/
Library/
Logs/
obj/
Packages/
ProjectSettings/
UserSettings/
.vsconfig
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
MyDemo1.sln
Unity.AssetBundleBrowser.Editor.csproj

Assets/**
!Assets/Scripts/
!Assets/Data/
!Assets/Editor/
!Assets/Scripts/**
!Assets/Data/**
!Assets/Editor/**